<button
  id="menu-toggle"
  class="menu-toggle hidden max-[760px]:inline-flex border border-[var(--line)] rounded-[10px] w-[42px] h-[42px] items-center justify-center flex-col bg-[var(--paper)] relative"
  type="button"
  aria-label="Abrir menú"
  data-i18n-aria="nav.menuLabel"
>
  <span></span>
  <span></span>
</button>
